---
import Main from "../layouts/Main.astro";
---

<Main title="Landing Page">
  <div
    class="flex flex-col-reverse sm:flex-row sm:items-center space-y-reverse space-y-8"
  >
    <div class="flex flex-col space-y-4 sm:pr-20">
      <h1 class="font-bold text-3xl md:text-4xl">Hi, I&apos;m Duy Tran</h1>
      <p class="">
        I&apos;m a third-year at Northeastern University studying Computer
        Science with a minor in Math. I love making things that work well, look
        good and are easy-to-use for everyone.
      </p>
    </div>

    <div class="w-[100px] sm:w-[350px] border-2 border-white rounded-full">
      <img
        alt="Duy Tran"
        height={300}
        width={300}
        src="/duytran.JPG"
        sizes="30vw"
        class="rounded-full"
      />
    </div>
  </div>
</Main>
