---
import MobileMenu from "./MobileMenu";
import NavLink from "./NavLink.astro";
import ThemeToggle from "./ThemeToggle";

const links = [
  { name: "About Me", href: "/about" },
  { name: "Blog", href: "/blog" },
  { name: "Projects", href: "/projects" },
  { name: "Resources", href: "/resources" },
];
---

<nav
  class="sticky z-10 top-0 flex items-center justify-center w-full py-2 bg-slate-100 bg-opacity-40 backdrop-blur-sm shadow-sm dark:bg-slate-800 dark:bg-opacity-40 dark:backdrop-blur-sm"
>
  <div class="flex justify-between items-center max-w-2xl w-full px-4">
    <div class="flex items-center space-x-2">
      <a href="/" class="font-semibold text-xl mr-4 z-50">Duy Tran</a>
      {links.map(({ name, href }) => <NavLink href={href}>{name}</NavLink>)}
    </div>

    <div class="flex">
      <ThemeToggle client:visible />
      <MobileMenu client:visible />
    </div>
  </div>
</nav>
