---
import MobileMenu from "./MobileMenu";
import NavLink from "./NavLink.astro";
import ThemeToggle from "./ThemeToggle";

const links = [
  { name: "About Me", href: "/about" },
  { name: "Blog", href: "/blog" },
  { name: "Projects", href: "/projects" },
  { name: "Resources", href: "/resources" },
];
---

<header class="fixed w-full py-2 px-4 z-20 backdrop-blur-md">
  <nav class="m-auto max-w-2xl">
    <div class="flex justify-between">
      <div class="flex items-center space-x-2">
        <a href="/" class="font-semibold text-xl mr-4 z-50">Duy Tran</a>
        {links.map(({ name, href }) => <NavLink href={href}>{name}</NavLink>)}
      </div>

      <div class="flex">
        <ThemeToggle client:visible />
        <MobileMenu client:visible />
      </div>
    </div>
  </nav>
</header>
